# Phase 1 : Data Exploration

## (1) Import des librairies

In [48]:
import pandas as pd
from datetime import datetime, timezone

## (2) Exploration des jeux de données
### (2.1) Dataset 1 : Bitcoin Historical Data
#### (2.1.1) Description 

- **data origin** : https://www.kaggle.com

- **URL du dataset** : https://www.kaggle.com/datasets/mczielinski/bitcoin-historical-data

- **origin file** : "bitstampUSD_1-min_data_2012-01-01_to_2021-03-31.csv" 

- **Shape** : ( 8 Columns ; 4857377 Entries)

- **Variables** :  

  * int64 = (1)  
      * Timestamp : *Start time of time window (60s window), in Unix time*
                                                          
  * object = (7)   
      * Open : *Open price at start time window*
      * High : *High price within time window*               
      * Low : *Low price within time window*              
      * Close : *Close price at end of time window*            
      * Volume_(BTC) : *Volume of BTC transacted in this window*      
      * Volume_(Currency) : *Volume of corresponding currency transacted in this window* 
      * Weighted_Price : VWAP *Volume Weighted Average Price*     

- **Starting date** : 2011-12-31 07:52:00+00:00
- **End date** : 2021-03-31 00:00:00+00:00
- **Measurment** period : 3377 days 16:08:00

In [49]:
market_df = pd.read_csv("../data/input/bitstampUSD_1-min_data_2012-01-01_to_2021-03-31.csv")
market_df.info()

market_df = market_df.copy()

market_df["Timestamp"] = pd.to_datetime(market_df["Timestamp"], unit='s', utc=True)

starting_date_market = market_df["Timestamp"].min()
print(f"\nDate de début (UTC) : {starting_date_market}")

end_date_market = market_df["Timestamp"].max()
print(f"Date de fin (UTC) : {end_date_market}")

# Calcul de la période entre les deux dates
period = end_date_market - starting_date_market
print(f"Période : {period}")

market_df.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4857377 entries, 0 to 4857376
Data columns (total 8 columns):
 #   Column             Dtype
---  ------             -----
 0   Timestamp          int64
 1   Open               float64
 2   High               float64
 3   Low                float64
 4   Close              float64
 5   Volume_(BTC)       float64
 6   Volume_(Currency)  float64
 7   Weighted_Price     float64
dtypes: float64(7), int64(1)
memory usage: 296.5 MB

Date de début (UTC) : 2011-12-31 07:52:00+00:00
Date de fin (UTC) : 2021-03-31 00:00:00+00:00
Période : 3377 days 16:08:00

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,2011-12-31 07:52:00+00:00,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
1,2011-12-31 07:53:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011-12-31 07:54:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2011-12-31 07:55:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2011-12-31 07:56:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### (2.1.2) Nettoyage des données

- EMPTY VALUES -> From 4 857 377 to 3 613 769 entries = *1 243 608 empty entries deleted* 
- TIMESTAMP -> Conversion from Unix timestamp to datetime UTC

In [50]:
empty_values = market_df.isna().sum()
print(f"--> Empty_values (before cleaning) :\n\n{empty_values}")

cleaned_market_df = market_df.dropna()
new_empty_values = cleaned_market_df.isna().sum()
print(f"\n--> Empty_values (after cleaning) :\n\n{new_empty_values}\n")

cleaned_market_df["Timestamp"] = pd.to_datetime(cleaned_market_df["Timestamp"], unit='s', utc=True)

cleaned_market_df.head()

--> Empty_values (before cleaning) :

Timestamp                  0
Open                 1243608
High                 1243608
Low                  1243608
Close                1243608
Volume_(BTC)         1243608
Volume_(Currency)    1243608
Weighted_Price       1243608
dtype: int64

--> Empty_values (after cleaning) :

Timestamp            0
Open                 0
High                 0
Low                  0
Close                0
Volume_(BTC)         0
Volume_(Currency)    0
Weighted_Price       0
dtype: int64

/var/folders/60/gt5hmsm11g79jy7g_8s5sg280000gn/T/ipykernel_10507/2686448570.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_market_df["Timestamp"] = pd.to_datetime(cleaned_market_df["Timestamp"], unit='s', utc=True)

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,2011-12-31 07:52:00+00:00,4.39,4.39,4.39,4.39,0.455581,2.000000,4.390000
478,2011-12-31 15:50:00+00:00,4.39,4.39,4.39,4.39,48.000000,210.720000,4.390000
547,2011-12-31 16:59:00+00:00,4.50,4.57,4.50,4.57,37.862297,171.380338,4.526411
548,2011-12-31 17:00:00+00:00,4.58,4.58,4.58,4.58,9.000000,41.220000,4.580000
1224,2012-01-01 04:16:00+00:00,4.58,4.58,4.58,4.58,1.502000,6.879160,4.580000

### (2.2) Dataset 2 : Bitcoin Historical Tweets
#### (2.2.1) Description 

- **data origin** : https://www.kaggle.com

- **URL du dataset** : https://www.kaggle.com/datasets/kaushiksuresh147/bitcoin-tweets/data?select=Bitcoin_tweets.csv

- **origin file** : "Bitcoin_tweets.csv" 

- **Shape** : ( 13 Columns ; 4 689 354 Entries)

- **Variables** :  
                                                         
  * object = (13)   
        - **user_name***	The name of the user, as they’ve defined it.
        - **user_location**	The user-defined location for this account’s profile.
        - ***user_description**	The user-defined UTF-8 string describing their account.
        - ***user_created**	Time and date, when the account was created.
        - ***user_followers**	The number of followers an account currently has.
        - ***user_friends**	The number of friends an account currently has.
        - ***user_favourites**	The number of favorites an account currently has
        - ***user_verified**	When true, indicates that the user has a verified account
        - ***date**	UTC time and date when the Tweet was created
        - ***text**	The actual UTF-8 text of the Tweet
        - ***hashtags**	All the other hashtags posted in the tweet along with #Bitcoin & #btc
        - ***source**	Utility used to post the Tweet, Tweets from the Twitter website have a source value - web
        - ***is_retweet**	Indicates whether this Tweet has been Retweeted by the authenticating user. 

- **Starting date** : 2021-02-05 10:52:04+00:00
- **End date** : 2023-01-09 23:59:54+00:00
- **Measurment** 703 days 13:07:50

In [51]:
text_df_chunks = pd.read_csv("../data/input/Bitcoin_tweets.csv", chunksize=100000,lineterminator='\n')
tweets_df = pd.concat(text_df_chunks)

tweets_df.info()

/var/folders/60/gt5hmsm11g79jy7g_8s5sg280000gn/T/ipykernel_10507/2740150231.py:2: DtypeWarning: Columns (5,6,7,12) have mixed types. Specify dtype option on import or set low_memory=False.
  tweets_df = pd.concat(text_df_chunks)
/var/folders/60/gt5hmsm11g79jy7g_8s5sg280000gn/T/ipykernel_10507/2740150231.py:2: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  tweets_df = pd.concat(text_df_chunks)
/var/folders/60/gt5hmsm11g79jy7g_8s5sg280000gn/T/ipykernel_10507/2740150231.py:2: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  tweets_df = pd.concat(text_df_chunks)
/var/folders/60/gt5hmsm11g79jy7g_8s5sg280000gn/T/ipykernel_10507/2740150231.py:2: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  tweets_df = pd.concat(text_df_chunks)
/var/folders/60/gt5hmsm11g79jy7g_8s5sg280000gn/T/ipykernel_10507/2740150231.py:2: DtypeWarning: Columns (5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  tweets_df = pd.concat(text_df_chunks)
/var/folders/60/gt5hmsm11g79jy7g_8s5sg280000gn/T/ipykernel_10507/2740150231.py:2: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  tweets_df = pd.concat(text_df_chunks)
/var/folders/60/gt5hmsm11g79jy7g_8s5sg280000gn/T/ipykernel_10507/2740150231.py:2: DtypeWarning: Columns (5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  tweets_df = pd.concat(text_df_chunks)
/var/folders/60/gt5hmsm11g79jy7g_8s5sg280000gn/T/ipykernel_10507/2740150231.py:2: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  tweets_df = pd.concat(text_df_chunks)
/var/folders/60/gt5hmsm11g79jy7g_8s5sg280000gn/T/ipykernel_10507/2740150231.py:2: DtypeWarning: Columns (5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  tweets_df = pd.concat(text_df_chunks)
/var/folders/60/gt5hmsm11g79jy7g_8s5sg280000gn/T/ipykernel_10507/2740150231.py:2: DtypeWarning: Columns (5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  tweets_df = pd.concat(text_df_chunks)
/var/folders/60/gt5hmsm11g79jy7g_8s5sg280000gn/T/ipykernel_10507/2740150231.py:2: DtypeWarning: Columns (5,6,7,12) have mixed types. Specify dtype option on import or set low_memory=False.
  tweets_df = pd.concat(text_df_chunks)
/var/folders/60/gt5hmsm11g79jy7g_8s5sg280000gn/T/ipykernel_10507/2740150231.py:2: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  tweets_df = pd.concat(text_df_chunks)
/var/folders/60/gt5hmsm11g79jy7g_8s5sg280000gn/T/ipykernel_10507/2740150231.py:2: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  tweets_df = pd.concat(text_df_chunks)
/var/folders/60/gt5hmsm11g79jy7g_8s5sg280000gn/T/ipykernel_10507/2740150231.py:2: DtypeWarning: Columns (5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  tweets_df = pd.concat(text_df_chunks)
/var/folders/60/gt5hmsm11g79jy7g_8s5sg280000gn/T/ipykernel_10507/2740150231.py:2: DtypeWarning: Columns (5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  tweets_df = pd.concat(text_df_chunks)
/var/folders/60/gt5hmsm11g79jy7g_8s5sg280000gn/T/ipykernel_10507/2740150231.py:2: DtypeWarning: Columns (4,6) have mixed types. Specify dtype option on import or set low_memory=False.
  tweets_df = pd.concat(text_df_chunks)
/var/folders/60/gt5hmsm11g79jy7g_8s5sg280000gn/T/ipykernel_10507/2740150231.py:2: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  tweets_df = pd.concat(text_df_chunks)
/var/folders/60/gt5hmsm11g79jy7g_8s5sg280000gn/T/ipykernel_10507/2740150231.py:2: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  tweets_df = pd.concat(text_df_chunks)
/var/folders/60/gt5hmsm11g79jy7g_8s5sg280000gn/T/ipykernel_10507/2740150231.py:2: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  tweets_df = pd.concat(text_df_chunks)
/var/folders/60/gt5hmsm11g79jy7g_8s5sg280000gn/T/ipykernel_10507/2740150231.py:2: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  tweets_df = pd.concat(text_df_chunks)
/var/folders/60/gt5hmsm11g79jy7g_8s5sg280000gn/T/ipykernel_10507/2740150231.py:2: DtypeWarning: Columns (5,6,7,12) have mixed types. Specify dtype option on import or set low_memory=False.
  tweets_df = pd.concat(text_df_chunks)
/var/folders/60/gt5hmsm11g79jy7g_8s5sg280000gn/T/ipykernel_10507/2740150231.py:2: DtypeWarning: Columns (5,6,7,12) have mixed types. Specify dtype option on import or set low_memory=False.
  tweets_df = pd.concat(text_df_chunks)
/var/folders/60/gt5hmsm11g79jy7g_8s5sg280000gn/T/ipykernel_10507/2740150231.py:2: DtypeWarning: Columns (6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  tweets_df = pd.concat(text_df_chunks)
/var/folders/60/gt5hmsm11g79jy7g_8s5sg280000gn/T/ipykernel_10507/2740150231.py:2: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  tweets_df = pd.concat(text_df_chunks)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4689354 entries, 0 to 4689353
Data columns (total 13 columns):
 #   Column            Dtype
---  ------            -----
 0   user_name         object
 1   user_location     object
 2   user_description  object
 3   user_created      object
 4   user_followers    object
 5   user_friends      object
 6   user_favourites   object
 7   user_verified     object
 8   date              object
 9   text              object
 10  hashtags          object
 11  source            object
 12  is_retweet        object
dtypes: object(13)
memory usage: 465.1+ MB

In [52]:
tweets_df = tweets_df.copy()
tweets_df['date'] = pd.to_datetime(tweets_df['date'], errors='coerce', utc=True)

starting_date_tweets = tweets_df["date"].min()
print(f"\nDate de début (UTC) : {starting_date_tweets}")

end_date_tweets = tweets_df["date"].max()
print(f"Date de fin (UTC) : {end_date_tweets}")

period = end_date_tweets - starting_date_tweets
print(f"Période : {period}")

tweets_df.head(5)

Date de début (UTC) : 2021-02-05 10:52:04+00:00
Date de fin (UTC) : 2023-01-09 23:59:54+00:00
Période : 703 days 13:07:50

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
0,DeSota Wilson,"Atlanta, GA","Biz Consultant, real estate, fintech, startups...",2009-04-26 20:05:09,8534.0,7605,4838,False,2021-02-10 23:59:04+00:00,Blue Ridge Bank shares halted by NYSE after #b...,['bitcoin'],Twitter Web App,False
1,CryptoND,NaN,😎 BITCOINLIVE is a Dutch platform aimed at inf...,2019-10-17 20:12:10,6769.0,1532,25483,False,2021-02-10 23:58:48+00:00,"😎 Today, that's this #Thursday, we will do a ""...","['Thursday', 'Btc', 'wallet', 'security']",Twitter for Android,False
2,Tdlmatias,"London, England","IM Academy : The best #forex, #SelfEducation, ...",2014-11-10 10:50:37,128.0,332,924,False,2021-02-10 23:54:48+00:00,"Guys evening, I have read this article about B...",NaN,Twitter Web App,False
3,Crypto is the future,NaN,I will post a lot of buying signals for BTC tr...,2019-09-28 16:48:12,625.0,129,14,False,2021-02-10 23:54:33+00:00,$BTC A big chance in a billion! Price: \487264...,"['Bitcoin', 'FX', 'BTC', 'crypto']",dlvr.it,False
4,Alex Kirchmaier 🇦🇹🇸🇪 #FactsSuperspreader,Europa,Co-founder @RENJERJerky | Forbes 30Under30 | I...,2016-02-03 13:15:55,1249.0,1472,10482,False,2021-02-10 23:54:06+00:00,This network is secured by 9 508 nodes as of t...,['BTC'],Twitter Web App,False

#### (2.1.3) Nettoyage des données

**(a)** Dans l'objectif d'analyser la corrélation entre le corps de texte d'un tweet et le cours du BTC, seul les champs "date" et "texte" sont essentiels à 100% :

- date -> *suppression des dates nulles (66 entries)*

**(b)** Pour les catégories qui contiennent des valeurs nulles, définition d'une key value avec le préfiwe 'Uknw' : 

- user_name, user_location, user_description, hashtags, source, is_retweet -> *unkown category key definition*

In [53]:
empty_values = tweets_df.isna().sum()
print(f"--> Empty_values (before cleaning) :\n\n{empty_values}")

cleaned_tweets_df = tweets_df.dropna(subset=['date'])

columns_to_fillna = ['user_name', 'user_location', 'user_description', 'hashtags', 'source', 'is_retweet']

for column in columns_to_fillna:
    cleaned_tweets_df[column] = cleaned_tweets_df[column].fillna(f'Uknw_{column}')


empty_values = cleaned_tweets_df.isna().sum()
print(f"--> Empty_values (after cleaning) :\n\n{empty_values}")

--> Empty_values (before cleaning) :

user_name               111
user_location       2336822
user_description     519989
user_created              0
user_followers            0
user_friends              0
user_favourites           0
user_verified             0
date                     66
text                      0
hashtags              17516
source                 4083
is_retweet              818
dtype: int64

/var/folders/60/gt5hmsm11g79jy7g_8s5sg280000gn/T/ipykernel_10507/213028699.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_tweets_df[column] = cleaned_tweets_df[column].fillna(f'Uknw_{column}')

--> Empty_values (after cleaning) :

user_name           0
user_location       0
user_description    0
user_created        0
user_followers      0
user_friends        0
user_favourites     0
user_verified       0
date                0
text                0
hashtags            0
source              0
is_retweet          0
dtype: int64

### (2.3) Filtrage des données sur la période

**Bitcoin_market_historical**

- Date de début (UTC) : 2011-12-31 07:52:00+00:00   -->     Période : 3377 days, 16:08:00       <--     Date de fin (UTC) : 2021-03-31 00:00:00+00:00

**Bitcoin_tweets_historical**

- Date de début (UTC) : 2021-02-05 10:52:04+00:00   -->     Période : 703 days 13:07:50     <--     Date de fin (UTC) : 2023-01-09 23:59:54+00:00

In [54]:
starting_dates = (starting_date_market, starting_date_tweets)
end_dates = (end_date_market, end_date_tweets)

analysis_start = max(starting_dates)
analysis_end = min(end_dates)

joint_period = analysis_end - analysis_start 

print(f"L'analyse peut démarrer le {str(analysis_start)[:10]} et se terminer le {str(analysis_end)[:10]}, soit une période d'analyse de {joint_period}")

L'analyse peut démarrer le 2021-02-05 et se terminer le 2021-03-31, soit une période d'analyse de 53 days 13:07:56

In [55]:
output_market_df = cleaned_market_df.copy()
filtered_market_df = output_market_df[(output_market_df['Timestamp'] >= analysis_start) & (output_market_df['Timestamp'] <= analysis_end)]
print(f"Bitcoin Market DataFrame :\n")
filtered_market_df.info()

output_tweets_df = cleaned_tweets_df.copy()
filtered_tweets_df = output_tweets_df[(output_tweets_df['date'] >= analysis_start) & (output_tweets_df['date'] <= analysis_end)]
print(f"\nBitcoin Tweets DataFrame :\n")
filtered_tweets_df.info()

Bitcoin Market DataFrame :

<class 'pandas.core.frame.DataFrame'>
Index: 76996 entries, 4780269 to 4857376
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Timestamp          76996 non-null  datetime64[ns, UTC]
 1   Open               76996 non-null  float64
 2   High               76996 non-null  float64
 3   Low                76996 non-null  float64
 4   Close              76996 non-null  float64
 5   Volume_(BTC)       76996 non-null  float64
 6   Volume_(Currency)  76996 non-null  float64
 7   Weighted_Price     76996 non-null  float64
dtypes: datetime64[ns, UTC](1), float64(7)
memory usage: 5.3 MB

Bitcoin Tweets DataFrame :

<class 'pandas.core.frame.DataFrame'>
Index: 48583 entries, 0 to 48582
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_name         48583 non-null  object
 1   user_location     48583 non-null  object
 2   user_description  48583 non-null  object
 3   user_created      48583 non-null  object
 4   user_followers    48583 non-null  object
 5   user_friends      48583 non-null  object
 6   user_favourites   48583 non-null  object
 7   user_verified     48583 non-null  object
 8   date              48583 non-null  datetime64[ns, UTC]
 9   text              48583 non-null  object
 10  hashtags          48583 non-null  object
 11  source            48583 non-null  object
 12  is_retweet        48583 non-null  object
dtypes: datetime64[ns, UTC](1), object(12)
memory usage: 5.2+ MB

### (2.4) Export csv

In [56]:
filtered_market_df.to_csv("../data/output/Bitcoin_market_historical.csv")
filtered_tweets_df.to_csv("../data/output/Bitcoin_tweets_historical.csv")